<h1>Details for the posting: @Model.GetTitle()</h1>
<p>Job Description: @Model.GetDescription()</p>
<p>Contact Info:</p>
<ul>
  <li>Name: @Model.GetContactInfo().GetName()</li>
  <li>Email: @Model.GetContactInfo().GetEmail()</li>
  <li>Phone: @Model.GetContactInfo().GetPhone()</li>
</ul>
<a href="/">Return to job listings</a>
